.needs {
	display: flex;
}

.needs-met {
	position: relative;
	display: inline-flex;
	align-items: flex-end;	
}

.needs-unmet {
	position: relative;
	display: inline-flex;
	align-items: flex-end;	
}

.debt {
	display: flex;
	position: relative;
}

.have-received-debt {
	position: relative;
	display: inline-flex;
	align-items: flex-end;	
}

.have-not-received-debt {
	position: relative;
	display: inline-flex;
	align-items: flex-end;	
}

.bar-label {
	font-size: 0.7em;
	margin-top: 5px;
	margin-right: 5px;
}

.bar-and-label {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.horiz-line {
	position: absolute;
	width: 100px;
	border: 1px solid #979797;
}

.vertical-line {
	height: 400px;
	background-color: #979797;
	width: 2px;
	margin-bottom: 17px;
}

.graph-heading {
	position: absolute;
	top: 50px;
	left: 80px;
	font-size: 1.2em;
}

.chart-semi-heading {
	position: absolute;
	top: -40px;
	left: 20px;
	font-size: 1.5em;
}
