needs {
	margin-left: 15%;
}

.solar-impact {
	margin-left: 5%;
}

.needs-met {
	display: inline-block;
	width: 500px;
	height: 450px;
	.ct-series-a .ct-bar {
		stroke: #8DCCFF;
		stroke-width: 30px;
	}
}

.needs-unmet {
	display: inline-block;
	width: 500px;
	height: 400px;
	margin-left: -50px;
	.ct-series-a .ct-bar {
		stroke: #FFA9A1;
		stroke-width: 30px;
	}
}

.frequency {
	position: relative;
	width: 500px;
	height: 250px;
	margin-left: 20%;
	.ct-series-a .ct-bar {
		stroke: #8DCCFF;
		stroke-width: 30px;
	}
	.ct-label.ct-vertical.ct-start {
		width: 80px !important;
		padding-top: 5px !important;
	}
}

.utility {
	position: relative;
	width: 500px;
	height: 220px;
	margin-left: 20%;
	margin-top: 80px;
	.ct-series-a .ct-bar {
		stroke: #8DCCFF;
		stroke-width: 30px;
	}
	.ct-label.ct-vertical.ct-start {
		width: 80px !important;
		padding-top: 5px !important;
	}
}

.ct-horizontal {
	border-top: 1px solid #979797;
	padding-top: 5px;
}

.ct-series {
	transform: translateY(5px);
}

.vertical-line {
	display: inline-block;
	background-color: #979797;
	width: 1px;
	height: 400px;
	margin-left: -15px;
	margin-bottom: 29px;
}

.chart-title-needs {
	margin-left: 150px;
	margin-top: -20px;
	font-size: 1.4em;
}

.chart-title-solar {
	font-size: 1.4em;
	margin-left: -150px;
}
