.needs {
	margin-left: 40px;
}

.priorities {
	margin-left: 5%;
}

.debt {
	margin-top: 20px;
}
.needs-met {
	display: inline-block;
	width: 500px;
	height: 450px;
	.ct-series-a .ct-bar {
		stroke: #8DCCFF;
		stroke-width: 30px;
	}
}

.needs-unmet {
	display: inline-block;
	width: 500px;
	height: 400px;
	margin-left: -50px;
	.ct-series-a .ct-bar {
		stroke: #FFA9A1;
		stroke-width: 30px;
	}
}

.area-spending {
	width: 700px;
	height: 300px;
	margin-bottom: 80px;
	margin-left: 80px;
	.ct-series-a .ct-bar {
		stroke: #8DCCFF;
		stroke-width: 30px;
	}
	.ct-series-b .ct-bar {
		stroke: #FFA9A1;
		stroke-width: 30px;
	}
}

.have-received-debt {
	display: inline-block;
	width: 500px;
	height: 300px;
	.ct-series-a .ct-bar {
		stroke: #8DCCFF;
		stroke-width: 30px;
	}
}

.have-not-received-debt {
	display: inline-block;
	width: 500px;
	height: 300px;
	margin-left: -110px;
	.ct-series-a .ct-bar {
		stroke: #FFA9A1;
		stroke-width: 30px;
	}
}

.ct-horizontal {
	border-top: 1px solid #979797;
	padding-top: 5px;
}

.ct-series {
	transform: translateY(5px);
}

.vertical-line {
	display: inline-block;
	background-color: #979797;
	width: 1px;
	height: 400px;
	margin-left: -15px;
	margin-bottom: 29px;
}

.chart-title-needs {
	margin-left: 100px;
	margin-top: -20px;
	font-size: 1.4em;
}

.chart-title-received-debt {
	margin-left: 180px;
	font-size: 1.2em;
}

.chart-title-debt {
	font-size: 1.4em;
	margin-top: -20px;
	margin-left: 85px;
}

.chart-title-spending {
	font-size: 1.4em;
}

.percent-circle {
	fill: rgba(0, 0, 0, 0) !important;
}

