.ethnic-chart {
	position: absolute;
	background-color: white;
	outline: #cccccc thin solid;
	width: 550px;
	height: 470px;
	top: 20%;
	left: 50%;
	margin-left: -275px;
}

.close-button {
	position: absolute;
	right: 4px;
	top: 4px;
	padding: 2px 10px;
	z-index: 20;
	outline: #cccccc thin solid;
	cursor: pointer;
	&:hover {
		background-color: rgba(255, 255, 255, 0.99);
	}
}

.actual-chart {
	width: 87%;
	height: 85%;
	margin: auto;
	margin-top: 30px;
	overflow: hidden;
}

.bars-and-label {
	height: 58px;
}

.bars {
	background: url('../../images/person.svg');
	background-size: contain;
	height: 24px;
	width: 100%;
	margin-left: 25px;
}

.label {
	display: inline-block;
	font-size: 0.9em;
	padding-right: 10px;
	border-bottom: 1px solid lightgray;
	margin-bottom: 6px;
}

.bar-unit {
	display: inline-block;
	font-size: 0.9em;
	border-bottom: 1px solid lightgrey;
}

.progress {
	background: url('../../images/green_person.svg');
	background-size: contain;
	height: 24px;
}

.chart-title {
	font-size: 1.4em;
	font-weight: bold;
	margin-bottom: 20px;
}
