.chart-title-needs{
	display: inline-block;
}

.needs-met .chart-title-needs{
	margin-left: 20px !important;
}

.browser-safari .needs-unmet{
	margin-bottom: 40px;
}
.browser-firefox .needs-met{
	margin-bottom: 40px;
}

.title-margin {
	margin-left: -90px;
}

.needs-breakdown {
	width: 70%;
	height: 300px;
	margin-left: 80px;
	.ct-series-a .ct-bar {
		stroke: #FFA9A1;
		stroke-width: 30px;
	}
}
