#map {
	height: 560px;
}
.map-container {
	padding-top: 120px;
	margin: auto;
	width: 80%;
}

.map-label {
	margin-left: -40px !important;
	font-size: 1.1em;
}

.fade-base-map {
	opacity: 0.4;
}

.aggregate-ethinic-btn {
	position: absolute;
	top: 20px;
	right: 20px;
	display: inline-block;
	background-color:#9E1B32;
	color: white;
	padding: 8px;
	cursor: pointer;
	box-shadow: 1px 1px 2px black;
	z-index: 2000;
	&:hover {
		background-color: #B2495B;
	}
}
